.main
  display: flex
  border: 1px solid #eee

.textarea
  min-width: 400px
  height: 250px
  border: none
  outline: none
  display: block
.header
  margin: 3px 0px
  border-bottom: 1px solid #eee

.left
  padding: 0 0 0 10px
.center
  border-left: 1px solid #eee
  flex: 1 0 auto

.right
  border-left: 1px solid #eee
  flex: 1 0 auto
